*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
/* GENERAL RULES */
body{
  background-color: #1A1A1A;
}
.d-flex{
  display: flex;
}
.justify-content-flex-end{
  justify-content: flex-end;
}
.justify-content-between{
  justify-content: space-between;
}
.align-flex-end{
  align-items: flex-end;
}
.align-center{
  align-items: center;
}
.wrap{
  flex-wrap: wrap;
}
ul li{
  list-style-type:none;
  display: inline-block;
}
a{
  text-decoration: none;
  color: white;
}
.relative{
  position: relative;
}
.absolute{
  position: absolute;
}

/* HEADER RULES */
.top-menu{

  width: 100%;
  height: 70px;
  background-color: #1A1A1A;
}
.top-menu .button1{
  width: 105px;
  height: 30px;
  color: white;
  background-color: #4A4A4A;
  border: none;
  margin-right: 10px;
  border-radius: 5px;
}
.top-menu .button2{
  width: 35px;
  height: 30px;
  color: white;
  background-color: #4A4A4A;
  border: none;
  margin-right: 10px;
  border-radius: 5px;
}



/* MAIN */
main{
  overflow: auto;
  width: 80%;
  margin: 0 auto;
  height: calc(100vh - 140px);
  flex-wrap: wrap;
  justify-content: center;
  align-content: flex-start;
  flex-direction: row;
  background-color: #1A1A1A;
}
.utenti img{
  width: 200px;
  height: 150px;
  object-fit: cover;
  cursor: pointer;

}
.utenti{
  margin-top: 10px;
  padding:0 3px;
  height: 150px;
}
.utenti span{
  color: white;
  background-color: rgba(128, 128, 128, 0.595);
  font-size: 13px;
}
main span{
  bottom: 0;
  left: 5px;
}
main p{
  bottom: 0;
  left: 0;
}



/* FOOTER */
.bottom-menu{
  flex-direction: row;
  width: 100%;
  height: 70px;
  background-color:#222222
}
footer a{
  display: block;
  text-align: center;
  font-size: 30px;
}

footer ul li{
  margin-left: 10px;
  color: white;
  cursor: pointer;
}
.angle-upp{
  padding: 0 10px;
  font-size: 13px;
}
.share-g{
  color: #4BC800;
}
footer section button{
  padding: 27px;
  border: none;
  background-color: #4A4A4A;
  color: #E5233A;
  cursor: pointer;
}

footer section li:hover{
  background-color: #4A4A4A;
}